{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'openweather/main.css' %}">
  <title>OpenWeatherApp</title>
</head>

<body>
  <div class="row">
    <header class="site-header">
      <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
        <a class="navbar-brand" style="color:white" href="{% url 'home' %}">OpenWeatherApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'profile' pk=user.id %}">Profil</a>
            <a class="nav-item nav-link" href="{% url 'logout' %}">Odjava</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Prijava</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Registracija</a>
            {% endif %}
          </div>
        </div>
      </nav>
      <div class="col-md-12 fixed-bottom">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
      </div>
    </header>
  </div>
  <div class="row">
  </div>
  <div class="row ml-auto" style="margin-top: 2rem;">
    <div class="col-md-3">
      {% block card %}
      <div class="card">
        <h5 class="card-header">
          Gradovi
        </h5>
        <div class="card-body">
          <p class="card-text">
            <ul>
              {% for city in feat_cities %}
              <li><a href="{% url 'city-weather' name=city.name %}">{{ city.name }}</a></li>
              {% endfor %}
            </ul>
          </p>
        </div>
        {% if favourite_cities %}
        <div class="card-footer" style="background-color: #fff2cc;">
          <div class="border-bottom mb-4">
            Omiljeni gradovi
          </div>
          <ul>
            {% for city in favourite_cities %}
            <li><a href="{% url 'city-weather' name=city.name %}">{{ city.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      {% endblock %}
    </div>
    <div class="col-md-9">
      <main role="main" class="container">
        {% block content %}
        <div class="jumbotron">
          <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">Pronađite grad</legend>
              {{ form|crispy }}
            </fieldset>
            <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Pogledajte vrijeme</button>
            </div>
          </form>
          <hr>
          {% if searched %}
          <h4>Nema rezultata za {{ searched }}</h4>
          {% endif %}
        </div>
        {% endblock %}
      </main>
    </div>
  </div>

</body>

</html>